<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns:context="http://www.springframework.org/schema/context"
xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd
http://www.springframework.org/schema/context
http://www.springframework.org/s…/context/spring-context.xsd">

<context:component-scan base-package="com.durgasoft.service"/>
<context:component-scan base-package="com.durgasoft.dao"/> 
  
  <context:component-scan base-package="com.durgasoft.dto"/> 

  
  
<bean id="dataSource" class="com.mysql.jdbc.jdbc2.optional.MysqlConnectionPoolDataSource">
<property name="URL" value="jdbc:mysql://localhost/test"/>
<property name="user" value="test"/>
<property name="password" value="root"/>
</bean>

</beans>
